[submodule "support/compressor"]
	path = support/compressor
	url = git://github.com/guileen/node-compress.git
[submodule "support/multi-node"]
	path = support/multi-node
	url = git://github.com/guileen/multi-node.git
[submodule "support/myproxy"]
	path = support/myproxy
	url = git@notes.li:node-proxy.git
[submodule "support/jade"]
	path = support/jade
	url = git://github.com/guileen/jade.git
[submodule "support/forum"]
	path = support/forum
	url = git://github.com/guileen/node-forum.git
[submodule "support/mongoskin"]
	path = support/mongoskin
	url = git://github.com/guileen/node-mongoskin
[submodule "support/sendmail"]
	path = support/sendmail
	url = git://github.com/guileen/node-sendmail.git
