#main
  p.logo
    img(src='/images/nowall.png')
  //- h3 <font color='red'>NoWALL</font><font color='gray'>.</font>be<font color='gray'>/</font><font color='green'>here</font>

  form(action='/search', method='GET')
    p
      input#q(name='q', autofocus, required, placeholder='No wall be here')
    p
      button.button.primary.big(type='submit') NoWALL

  .donation
    !=partial('donation')

  .footer
    if(version == 'v1')
      a(href="https://#{config.serverAndPort}#{config.httpsPortSuffix}/here") 切换到SSL版
      &nbsp;
      a(href="https://github.com/nowall/nowall/wiki/SSL", title="什么是SSL")
        small [?]
      &nbsp;|&nbsp;
    else
      a(href="http://#{config.serverAndPort}#{config.httpPortSuffix}/here") 切换到旧版
      &nbsp;|&nbsp;
    a(href="https://ssl.nowall.be/?px!=https:twitter.com#!/NowallBe") NowallBe@Twitter
    &nbsp;|&nbsp;
    a(href="https://chrome.google.com/webstore/detail/hghdlbnadahkknlbmckfljpcoilldcoa") 
      img(src="images/chrome_store_24x24.png")
      | Chrome Extension

#autocomplete
  .option.focus popup
  .option popup
  .option popup
  .option popup
  .option popup
  .option popup

script
  var getAbsolutOffset = function (obj) {
      var left, top;
      left = top = 0;
      if (obj.offsetParent) {
          do {
              left += obj.offsetLeft;
              top  += obj.offsetTop;
          } while (obj = obj.offsetParent);
      }
      return {
          x : left,
          y : top
      };
  };

  var $= function(id) {
    return document.getElementById(id);
  }

  var q=$('q'),
    offset = getAbsolutOffset(q);
  autocomplete = $('autocomplete')
  autocomplete.style.left = offset.x + 'px'
  autocomplete.style.top = (offset.y + q.offsetHeight) + 'px'
  autocomplete.style.width = q.offsetWidth + 'px'

  q.addEventListener('keypress', function(e) {
    // up
    // down
    // enter
  });

  q.addEventListener('input', function(e) {
  });
