!!! 5
html
  head
    title=(locals.title || 'NoWALL')
    link(rel='stylesheet', media='screen', href='#{base_url}/stylesheets/style.css')
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    meta(name='keywords', content='VPN, SSH, Proxy')
    meta(name='description', content='No wall be here. 一在一线一翻一墙一. Get VPN SSH Proxy.')
    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22925186-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  body
    != messages()
    != body
