.gigantic
  font-size 110px
  line-height 120px
  letter-spacing -2px


.huge, h1
  font-size 68px
  line-height 72px
  letter-spacing -1px


.large, h2
  font-size 42px
  line-height 48px


.bigger, h3
  font-size 26px
  line-height 36px


.big, h4
  font-size 22px
  line-height 30px


body
  font 16px/24px Georgia, serif


.small, small
  font-size 13px
  line-height 18px


/* Selection colours (easy to forget) */

::selection, ::-moz-selection
  background rgb(255,255,158)

img::selection, img::-moz-selection
  background transparent

body
  -webkit-tap-highlight-color rgb(255,255,158)
