//messages for express-messages
#messages
  text-align center
  font-size 18px
  text-shadow 1px 1px 1px #888
  ul
    li
      display block
      padding 5px
      border 1px solid #888
      margin-top -1px

  .error
    background #c60
    li
      border 1px solid #a30
  .info
    //background green
    li
      border 1px solid #666


