@import "lessframework"
@import "buttons"

fonts = helvetica, arial, sans-serif

boder-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

box-shadow()
  -webkit-box-shadow arguments
  -moz-box-shadow arguments
  box-shadow arguments

// reset
*:focus {outline: none;}

p
  margin 5px

body
  //padding 50px
  //font 14px/1.4 fonts
  background #333
  color white
  margin 0 auto

#main
  text-align center

#q
  width 100%
  max-width 24em
  font-size 24px
  border 1px solid #ddd
  border-radius 0.2em

#q:focus
  box-shadow 0 0 5px rgba(255,255,255, 0.9)

#autocomplete
  background #888
  position absolute
  opacity 0.8
  boder-radius 0 0 .3em .3em
  visibility hidden

  .option
    padding 5px 10px

    .focus
      background #848

.donation
  display inline-block
  margin-top 50px
  padding 10px
  border 1px solid #888
  border-radius 0.3em
