@import "reset"
@import "lessframework"
@import "1140"
@import "buttons"
@import "forms"
@import "messages"

fonts = helvetica, arial, sans-serif

boder-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

box-shadow()
  -webkit-box-shadow arguments
  -moz-box-shadow arguments
  box-shadow arguments

// reset
*:focus
  outline none

p
  margin 5px

body
  //font 14px/1.4 fonts
  background #333
  color white
  margin 0 auto

a
  color: white

// general
.auto
  margin 0 auto

.max_1
  max-width 120px
.max_2
  max-width 240px
.max_3
  max-width 360px
.max_4
  max-width 480px
.max_5
  max-width 600px
.max_6
  max-width 720px
.max_7
  max-width 840px
.max_8
  max-width 960px

/* ** ** Common Addative Classes ** ** */
.left, .float_left
  float left
.right, .float_right
  float right
.clear
  clear both
  display block
  overflow hidden
  visibility hidden
  height 0px

.clear-left, .clear_left
  clear left

.clear-right, .clear_right
  clear right

.hide
  display none
.block
  display block !important
.inline
  display inline !important

.align_right
.align-right
  text-align right
.align_left
.align-left
  text-align left
.align_center
.align-center
  text-align center
.align_justify
.align-justify
  text-align justify

.bold
  font-weight 600
.italic
  font-style italic

// elements
#main
  margin-top 20px
  text-align center

#q
  width 100%
  max-width 24em
  font-size 24px
  border 1px solid #ddd
  border-radius 0.2em

#q:focus
  box-shadow 0 0 5px rgba(255,255,255, 0.9)

#autocomplete
  background #888
  position absolute
  opacity 0.8
  boder-radius 0 0 .3em .3em
  visibility hidden

  .option
    padding 5px 10px

    .focus
      background #848

.donation
  display inline-block
  margin-top 50px
  padding 10px
  border 1px solid #888
  border-radius 0.3em

  label
    display inline

.footer
  margin-top 50px
